<div class="container mt-5">
    <h1 class="allProducts">All Products</h1>
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3">
        {{#each products}}
            <div class="col mb-4">
                <div class="card h-100 bg-light">
                    <div class="card-header bg-primary text-white">
                        <i class="bi bi-tag"></i>{{this.code}}
                    </div>
                    <div class="card-body">
                        <h5 class="card-title text-black">{{this.title}}</h5>
                        <ul class="list-unstyled">
                            <li class="bi bi-file-text"> Description: {{this.description}}</li>
                            <li class="bi bi-currency-dollar"> Price: {{this.price}}</li>
                            <li class="bi bi-grid"> Category: {{this.category}}</li>
                            <li class="bi bi-check-circle"> Status: {{this.status}}</li>
                            <li class="bi bi-box"> Stock: {{this.stock}}</li>
                            <li class="iconImgContent">
                                <i class="bi bi-image"></i> Image:
                                <div class="imageContent">
                                    <img src="{{this.thumbnails}}" alt="{{this.title}}" class="img-fluid mt-2 image"/>
                                </div> 
                            </li>
                        </ul>
                    </div>
                    <div class="card-footer">
                        <ul class="list-unstyled">
                            <i class="bi bi-info-circle"></i><li class="id">ID: {{this._id}}</li>
                        </ul>
                    </div>
                </div>
            </div>
        {{/each}}
    </div>
    
</div>
